<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOJH25kLJuvwy-i168ilexV0kvaaV0LZw</string>
	<key>GCM_SENDER_ID</key>
	<string>998408743595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zozo.gorealestate.goproperti</string>
	<key>PROJECT_ID</key>
	<string>event-brite-c9a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>event-brite-c9a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998408743595:ios:a7bcd43076c2c1bfbc25ee</string>
</dict>
</plist>